name: Release

on:
  push:
    tags:
      - "v[0-9]*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        type: [ android, ios, macos, windows, linux, web, ohos ]
        include:
          - type: android
            os: ubuntu-latest
            flutter: 3.38.5
          - type: ios
            os: macos-latest
            flutter: 3.38.5
          - type: macos
            os: macos-latest
            flutter: 3.38.5
          - type: windows
            os: windows-latest
            flutter: 3.38.5
          - type: linux
            os: ubuntu-latest
            flutter: 3.38.5
          - type: web
            os: ubuntu-latest
            flutter: 3.38.5
          - type: ohos
            os: ubuntu-latest
            flutter: oh-3.32.4-dev

    steps:
      - uses: actions/checkout@v4
        name: Checkout code
      - uses: actions/setup-java@v4
        name: Setup Java SDK
        if: ${{ matrix.type == 'android' || matrix.type == 'ohos' }}
        with:
          distribution: "zulu"
          java-version: "17"
      - uses: actions/setup-node@v6
        name: Setup Node SDK
        if: ${{ matrix.type == 'macos' }}
        with:
          node-version: latest
      - if: ${{ matrix.type != 'ohos' }}
        name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.flutter }}
          channel: "stable"
      - if: ${{ matrix.type != 'ohos' }}
        name: Patch flutter cupertino nav_bar.dart
        shell: bash
        run: |
          echo "Flutter root: $FLUTTER_ROOT"
          target="$FLUTTER_ROOT/packages/flutter/lib/src/cupertino/nav_bar.dart"
          echo "Patching $target"
          curl -fsSL "https://github.com/belier-cn/certimate_flutter/releases/download/v0.0.1/cupertino_nav_bar_${{ matrix.flutter }}.dart" -o "$target"
      - if: ${{ matrix.type == 'ohos' }}
        name: Setup Harmony SDK
        run: |
          FILE_NAME="commandline-tools-linux-x64-6.0.1.251.zip"
          wget -c -q -P "$HOME" "https://github.com/belier-cn/flutter_ohos_packages/releases/download/v0.0.1/${FILE_NAME}.aa" || exit 1
          wget -c -q -P "$HOME" "https://github.com/belier-cn/flutter_ohos_packages/releases/download/v0.0.1/${FILE_NAME}.ab" || exit 1
          cat "$HOME/${FILE_NAME}.a"* > "$HOME/${FILE_NAME}"
          unzip -q "$HOME/${FILE_NAME}" -d "$HOME"
          echo "$HOME/command-line-tools/bin" >> $GITHUB_PATH
          export PATH="$HOME/command-line-tools/bin:$PATH"
          ohpm -v
          rm -rf "${FILE_NAME}"*
      - if: ${{ matrix.type == 'ohos' }}
        name: Setup Harmony Flutter SDK
        run: |
          cat pubspec_ohos_overrides.yaml >> pubspec.yaml
          rm -rf pubspec.lock
          git clone --branch ${{ matrix.flutter }} https://gitcode.com/openharmony-tpc/flutter_flutter.git "$HOME/harmony_flutter"
          echo "$HOME/harmony_flutter/bin" >> $GITHUB_PATH
          echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
          export PATH="$HOME/harmony_flutter/bin:$PATH"
          flutter --version
          flutter config --ohos-sdk="$HOME/command-line-tools/sdk"
      - name: Install dependencies
        run: |
          flutter pub global activate fastforge
          flutter pub get
          flutter pub run intl_utils:generate
          flutter pub run build_runner build --delete-conflicting-outputs
      - if: ${{ matrix.type == 'android' }}
        name: Build android
        run: |
          echo -n "$KEYSTORE_BASE64" | openssl base64 -d -A > android/app/certimate.jks
          fastforge package --platform android --targets apk --artifact-name certimate-${{ github.ref_name }}-${{ matrix.type }}.apk
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      - if: ${{ matrix.type == 'ios' }}
        name: Build ios
        run: |
          wget -c -q -O fastforge "https://github.com/belier-cn/fastforge/releases/download/v0.6.7-beta.1/fastforge-v0.6.7-beta.1-macos-arm64" || exit 1
          chmod +x fastforge
          ./fastforge package --platform ios --targets ipa --flutter-build-args no-codesign --artifact-name certimate-${{ github.ref_name }}-${{ matrix.type }}.ipa
      - if: ${{ matrix.type == 'macos' }}
        name: Build macos
        run: |
          npm install -g appdmg
          fastforge package --platform macos --targets dmg --artifact-name certimate-${{ github.ref_name }}-${{ matrix.type }}.dmg
      - if: ${{ matrix.type == 'windows' }}
        name: Build windows
        run: |
          choco upgrade innosetup --no-progress
          Invoke-WebRequest -Uri "https://raw.githubusercontent.com/jrsoftware/issrc/main/Files/Languages/Unofficial/ChineseSimplified.isl" -OutFile "C:\Program Files (x86)\Inno Setup 6\Languages\ChineseSimplified.isl"
          fastforge package --platform windows --targets exe --artifact-name certimate-${{ github.ref_name }}-${{ matrix.type }}.exe
      - if: ${{ matrix.type == 'linux' }}
        name: Build linux
        run: |
          wget -c -q -O appimagetool "https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage" || exit 1
          chmod +x appimagetool
          sudo mv appimagetool /usr/local/bin/
          sudo apt-get update
          sudo apt install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libsecret-1-dev libfuse2 locate
          fastforge package --platform linux --targets appimage --artifact-name certimate-${{ github.ref_name }}-${{ matrix.type }}.appimage
      - if: ${{ matrix.type == 'ohos' }}
        name: Build ohos
        run: |
          echo -n "$HARMONY_SIGNING_BASE64" | openssl base64 -d -A > ohos/signing-configs.json
          echo -n "$HARMONY_SIGNING_FILE_BASE64" | openssl base64 -d -A > ohos/signature.zip
          unzip -q ohos/signature.zip -d ohos
          fastforge package --platform ohos --targets hap
        env:
          HARMONY_SIGNING_BASE64: ${{ secrets.HARMONY_SIGNING_BASE64 }}
          HARMONY_SIGNING_FILE_BASE64: ${{ secrets.HARMONY_SIGNING_FILE_BASE64 }}
      - if: ${{ matrix.type == 'web' }}
        name: Build web
        run: |
          flutter build web --release --base-href /${{ github.event.repository.name }}/ --dart-define FLUTTER_BASE_HREF=/${{ github.event.repository.name }}/
          cp build/web/index.html build/web/404.html
      - if: ${{ matrix.type == 'web' }}
        name: Upload GitHub Pages artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/web
      - if: ${{ matrix.type != 'web' }}
        name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.type }}
          retention-days: 1
          path: |
            dist/**/*.apk
            dist/**/*.ipa
            dist/**/*.hap
            dist/**/*.dmg
            dist/**/*.exe
            dist/**/*.appimage

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        name: Download artifact
        with:
          path: artifacts
      - uses: softprops/action-gh-release@v2
        name: Create GitHub Release
        with:
          files: artifacts/**
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4