name: Release

on:
  push:
    tags:
      - "v[0-9]*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        type: [ android, ios, macos, windows, linux ]
        include:
          - type: android
            os: macos-latest
          - type: ios
            os: macos-latest
          - type: macos
            os: macos-latest
          - type: windows
            os: windows-latest
          - type: linux
            os: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        if: ${{ matrix.type == 'android' }}
        with:
          distribution: "zulu"
          java-version: "17"
      - uses: actions/setup-node@v6
        if: ${{ matrix.type == 'macos' }}
        with:
          node-version: latest
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.38.3
          channel: "stable"
      - if: ${{ matrix.type == 'windows' }}
        name: Install Inno Setup
        shell: pwsh
        run: |
          choco install innosetup
          Invoke-WebRequest -Uri "https://raw.githubusercontent.com/jrsoftware/issrc/main/Files/Languages/Unofficial/ChineseSimplified.isl" -OutFile "C:\Program Files (x86)\Inno Setup 6\Languages\ChineseSimplified.isl"
      - id: version
        name: Get build version
        shell: bash
        run: echo "version=${GITHUB_REF_NAME#v}" >>$GITHUB_OUTPUT
      - name: Install dependencies
        run: |
          dart pub global activate fastforge
          flutter pub get
          dart run intl_utils:generate
          dart run build_runner build --delete-conflicting-outputs
      - if: ${{ matrix.type == 'android' }}
        name: Build android
        run: |
          echo -n "$KEYSTORE_BASE64" | openssl base64 -d -A > android/app/certimate.jks
          fastforge package --platform android --targets apk --artifact-name certimate-${{ steps.version.outputs.version }}.apk
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      - if: ${{ matrix.type == 'ios' }}
        name: Build ios
        run: |
          wget -O fastforge "https://github.com/belier-cn/fastforge/releases/download/v0.6.7-beta.1/fastforge-v0.6.7-beta.1-macos-arm64"
          chmod +x fastforge
          ./fastforge package --platform ios --targets ipa --flutter-build-args no-codesign --artifact-name certimate-${{ steps.version.outputs.version }}.ipa
      - if: ${{ matrix.type == 'macos' }}
        name: Build macos
        run: |
          npm install -g appdmg
          fastforge package --platform macos --targets dmg --artifact-name certimate-${{ steps.version.outputs.version }}.dmg
      - if: ${{ matrix.type == 'windows' }}
        name: Build windows
        run: |
          fastforge package --platform windows --targets exe --artifact-name certimate-${{ steps.version.outputs.version }}.exe
      - if: ${{ matrix.type == 'linux' }}
        name: Build linux
        run: |
          wget -O appimagetool "https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage"
          chmod +x appimagetool
          mv appimagetool /usr/local/bin/
          sudo apt-get update
          sudo apt install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libsecret-1-dev libfuse2 locate
          fastforge package --platform linux --targets appimage --artifact-name certimate-${{ steps.version.outputs.version }}.appimage
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.type }}
          retention-days: 1
          path: |
            dist/**/*.apk
            dist/**/*.ipa
            dist/**/*.dmg
            dist/**/*.exe
            dist/**/*.appimage

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      - uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}